<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Engine Bean -->
    <bean id="order" class="com.klu.model.ProductOrder" >
    
    <constructor-arg value="101"/>
    <constructor-arg value="nivesh"/>
   
    <property name="productName" value="fsad"/>
    <property name="quantity" value="4"/>
    

    <!-- Constructor Injection -->
    </bean>
</beans>